# Test report for the budget insight app

## This report summarizes results of manual testing for the budget insight app. The tests are manual and performed by doing predefined actions in the console user interface where the app is made to be used. 

## Test Cases

| Method Name                  | How It Was Tested                                 | Test Result                         |
|------------------------------|---------------------------------------------------|-------------------------------------|
| 1.                               |                                                  |                                     | 
|2.                               |                                                    |                                     |
| 3.                              |                                                 |                                   | 
| 4.                           |                                                |                                     |
|                              |                                             |                                    |